/nuget.exe
/TestResults
/.vs/FlashMapper/v14/.suo
/FlashMapper/bin
/FlashMapper/obj
/FlashMapper/nuget
/FlashMapper/FlashMapper.csproj.user
/FlashMapper/nuget.exe
/FlashMapper.DependancyInjection/bin
/FlashMapper.DependancyInjection/obj
/FlashMapper.DependancyInjection/nuget
/FlashMapper.DependancyInjection/FlashMapper.DependancyInjection.csproj.user
/FlashMapper.DependancyInjection/nuget.exe
/FlashMapper.MultiSource/obj
/FlashMapper.MultiSource/bin
/FlashMapper.MultiSource/nuget
/FlashMapper.MultiSource/FlashMapper.MultiSource.csproj.user
/FlashMapper.MultiSource/nuget.exe
/FlashMapper.Tests/bin
/FlashMapper.Tests/obj
/.vs/FlashMapper/v15/.suo
/FlashMapper.PerformanceTests/bin
/FlashMapper.PerformanceTests/obj
/packages
/.vs/FlashMapper/v15/Server/sqlite3
