/nuget.exe
/TestResults
/.vs/FlashMapper/v14/.suo
/FlashMapper/bin
/FlashMapper/obj
/FlashMapper/nuget
/FlashMapper/FlashMapper.csproj.user
/FlashMapper/nuget.exe
/FlashMapper.DependencyInjection/bin
/FlashMapper.DependencyInjection/obj
/FlashMapper.DependencyInjection/nuget
/FlashMapper.DependencyInjection/FlashMapper.DependencyInjection.csproj.user
/FlashMapper.DependencyInjection/nuget.exe
/FlashMapper.MultiSource/obj
/FlashMapper.MultiSource/bin
/FlashMapper.MultiSource/nuget
/FlashMapper.MultiSource/FlashMapper.MultiSource.csproj.user
/FlashMapper.MultiSource/nuget.exe
/FlashMapper.Tests/bin
/FlashMapper.Tests/obj
/.vs/FlashMapper/v15/.suo
/FlashMapper.PerformanceTests/bin
/FlashMapper.PerformanceTests/obj
/packages
/.vs/FlashMapper/v15/Server/sqlite3
